/* Custom styles for your login form */
.container-login{
    background-color: #EBEBEB;
}

.logologint {
    width: 150px;
    height: auto;
    border-radius: 60px;
}


/*buscador*/


/*termina*/

.login {/*menu*/
    background-color: rgba(190, 137, 186, 0.43);
    border-radius: 30px;
    border: 1px solid #030303;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titliinicia .h1login {
    border-bottom: 2px solid #000; /* Cambia el color y el grosor del borde según tus preferencias */
    
    padding-bottom: 5px; 
    border-bottom: 1px solid #000;
    width: 200%;
    border: 2PX;
    border-radius: 20px 20px 5px 5px;
    padding: 19PX 19PX;
    font-size: 28px;
    color: #f7f2f2;
    text-align: center;
    background-color:  rgba(115, 37, 121, 0.88);
    width: 100%; 
    height: 8%; 
}
.logincentra {
    text-align: center; /* Centrar el contenido horizontalmente */
    margin: 0 auto; /* Centrar horizontalmente el bloque */
    max-width: 400px; /* Establecer un ancho máximo para el contenido centrado */
}






.formularioini .letra {/*letra*/
    font-size: 18px;
    color: #484848;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 900; 
    
}
.logincntrolvidas{
    justify-content: flex-start;
}
.logincntrolvidas .letra{
    margin-right: 70px;
    font-size: 18px;
    color: #484848;
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 700; 
    

}
.loginolvidaste{
    color: #484848; 
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 600; 
    text-decoration: underline;

    
}



.formularioini .logininfor {
    padding: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    border-radius: 8px;
}
.loginapar{
    padding: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    border-radius: 8px;
}
.loginmostrar{
    color: #484848; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 900; 
    word-wrap: break-word;
}
.boton .mos{
    width: 25px; 
    height: 20px; 
    background: #D9D9D9; 
    border-radius: 6px;
}
.logincontinuar {
    width: 50%;
    border: 4px;
    border-radius: 7px;
    background-color: #f7f2f2;
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
}
.logintexto{
    color: #484848; 
    font-size: 16px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
}
.loginpregunta{
    color: #484848; 
    font-size: 18px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
}





.form-recovery {
    color: #020202;
}



.creatucenta{
    
    border: 4px;
    border-radius: 7px;
    background-color: #f7f2f2;
    width: 190px; 
    height: 35px; 
    text-align: center;
    color: black; 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
}


.message {
    font-size: 16px;
}

/*menu*/

