{% block dashboard_table_products %}
<header class="texto-centrado">
    <h1 style="color: rgb(241, 71, 190); text-align: center;">Tus productos</h1>
</header>
<main>
    <li>
        <h1>Lista de Categorías</h1>
        <ul>
            <!-- Aquí se mostrarán las categorías -->
            {% for c in categories %}
            <ul id="lista-categorias">
                <li> {{ c.name_categories }} </li>
                <button > <a href=" {% url 'edit_categories' c.id %}" > Editar</a></button>
                <button ><a href= "{% url 'delete_categories' c.id %}">Eliminar</button></li>
                
            </ul>
            {% endfor %}
        </ul>
    </li>  
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col" width="120">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in products %}
                    <tr>
                        <td>{{ producto.Product }}</td>
                        <td>{{ producto.description }}</td>
                        <td>{{ producto.price }}</td>
                        <td>
                            <a href="{% url 'edit_products' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'delete_products' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="texto-centrado">No hay productos para mostrar.</td>
                    </tr>
                {% endfor %}
            </tbody>
            <button type="button" class="btn btn-outline-dark">
                <a style="text-decoration: none;" href="{% url 'add_products' %}"> agregar producto </a>
            </button>

            <button type="button" class="btn btn-outline-dark">
                <a style="text-decoration: none;" href="{% url 'add_categories'  %}"> agregar categoria </a>
            </button>
        </table>
</main>
{% endblock %}

