{% extends 'layout/one_layout.html' %}
    {% block content %}
	<header>
		<h1>Tus productos</h1>
	</header>
	<main>
		<section id="categorias">
			<h2>Lista de Categorías</h2>
			<ul>
				<!-- Aquí se mostrarán las categorías -->
			</ul>
            <button type="button" id="btn-nueva-categoria">Nueva Categoría</button>
		</section>
		<section id="productos">
            {{ block table}}
			<h2>Lista de Productos </h2>
			<table>
				<thead>
					<tr>
						<th>Producto</th>
						<th>Categoria</th>
						<th>Nombre de categoria</th>
						<th>Descripción</th>
						<th>Precio</th>
                        <th>imagen</th>
					</tr>
				</thead>
				<tbody>
					<!-- Aquí se mostrarán los productos -->
                    {% for p in products %}
                    <tr>
                        <td>{{ p.Product }}</td>
                        <td>{{ p.category }}</td>
                        <td>{{ p.description }}</td>
                        <td>{{ p.price}}</td>
                        <td>{{ p.image }}</td>
                    </tr>
                    {% endfor %}
				</tbody>
			</table>
            {{ endblock }}
			<button type="button" id="btn-nuevo-producto">Nuevo Producto</button>
		</section>
		<section id="formulario">
			<!-- Formulario para categoria -->
			<form id="form-categoria">
				<label for="nombre-categoria">Nombre:</label>
				<input type="text" id="nombre-categoria" name="nombre" required>
				<input type="hidden" id="id-categoria" name="id">
				<button type="submit" id="btn-guardar-categoria">Guardar</button>
				<button type="button" id="btn-cancelar-categoria">Cancelar</button>
			</form>
			<!-- Formulario de productos -->
			<form id="form-producto">
				<label for="codigo-producto">Código:</label>
				<input type="text" id="codigo-producto" name="codigo" required>
				<label for="nombre-producto">Nombre:</label>
				<input type="text" id="nombre-producto" name="nombre" required>
				<label for="precio-producto">Precio:</label>
				<input type="number" id="precio-producto" name="precio" step="0.01" required>
				<label for="foto-producto">Foto:</label>
				<input type="file" id="foto-producto" name="foto">
				<input type="hidden" id="id-producto" name="id">
				<button type="submit" id="btn-guardar-producto">Guardar</button>
				<button type="button" id="btn-cancelar-producto">Cancelar</button>
			</form>
		</section>
	</main>
	<footer>
		<p>Diseñado por Santiago Guzman</p>
	</footer>
{% endblock %}