{% extends 'layout/home_layout.html' %}
{% load static %}



{% block content %} 
<!--imagen grande carrocel  -->

<!---tres tarjetas-->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3 justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-4 pb-1"> <!-- Cambio a col-lg-4, col-md-4, col-sm-4 -->
            <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 20px;">
                <h1 class="fa text-primary m-0 mr-12"><box-icon class="tarjeta" name='package' type='solid' style="font-size: 39x;" ></box-icon></h1>
                <h5 class="font-weight-semi-bold m-0">Paquetes</h5>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 pb-1"> <!-- Cambio a col-lg-4, col-md-4, col-sm-4 -->
            <div class="d-flex align-items-center justify-content-center border mb-4" style=" color: aqua; padding: 20px;">
                <h1 class="fa text-primary m-0 mr-3"><box-icon class="tarjeta" type='logo' name='whatsapp'></box-icon></h1>
                <h5 class="font-weight-semi-bold m-0">WhatsApp</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 pb-1"> <!-- Cambio a col-lg-4, col-md-4, col-sm-4 -->
            <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 20px;">
                <h1 class="fa text-primary m-0 mr-3"><box-icon class="tarjeta" name='location-plus' ></box-icon></h1>
                <h5 class="font-weight-semi-bold m-0">Ubicacion</h5>
            </div>
        </div>
    </div>
</div>

<!--tarjetas-->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <div>
            <h2 class="productos-titulo px-5"><span class="px-2">Productos</span></h2>
        </div>
        <div class="product-container">
            {% for producto in products %}
            <div class="producto">
                <div class="ui-card">
                    <img src="{{ producto.image.url }}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">{{ producto.Product }}</h2>
                    <p class="card-description">{{ producto.description }}</p>
                    <p class="card-price">{{ producto.price }}$</p>
                </div>
            </div>
            {% endfor %}

            {% comment %} <div class="producto">
                <div class="ui-card">
                    <img src="{% static  '/img/Aretes I/2022 2.jpeg' %}">
                    <div class="description">
                        <a href="#">Agregar carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="{% static  '/img/Aretes I/2022 3.jpeg' %}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card ">
                    <img src="{% static  '/img/Aretes I/2022 4.jpeg' %}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="{% static  '/img/Aretes I/2022 5.jpeg' %}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src= "{% static  '/img/collaresReferencia/Ref C22001.jpg' %}" >
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div> {% endcomment %}
        </div><!--hasta aqui va-->

    </div>
</div> 
{% endblock %}


