{% extends 'layout/home_layout.html' %}
{% load static %}



{% block content %} 
<script src="https://kit.fontawesome.com/26f1c55c36.js" crossorigin="anonymous"></script>
<!--imagen grande carrocel  -->
<div class="container-slider">
    <div class="slider" id="slider">
        <div class="slider_section">
            <img src="{% static  '/img/Aretes I/2022 4.jpeg' %}" alt="" class="slider__img">
        </div>
        <div class="slider_section">
            <img src="{% static  '/img/collaresReferencia/Ref C22001.jpg' %}" alt="" class="slider__img">
        </div>
        <div class="slider_section">
            <img src="{% static  '/img/Aretes I/2022 3.jpeg' %}" alt="" class="slider__img">
        </div>
        <div class="slider_section">
            <img src="{% static  '/img/Aretes I/2022 4.jpeg' %}" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
</div>
<div class="linmorada" ></div>

<!---tres tarjetas-->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3 justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-4 pb-1"> <!-- Cambio a col-lg-4, col-md-4, col-sm-4 -->
            <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 20px;">
                <h1 class="fa text-primary m-0 mr-12"><i class="fa-solid fa-box" style="color: black;"></i></h1>
                <h5 class="font-weight-semi-bold m-0">Paquetes</h5>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 pb-1"> <!-- Cambio a col-lg-4, col-md-4, col-sm-4 -->
            <div class="d-flex align-items-center justify-content-center border mb-4" style=" color: #D9D9D9; padding: 20px;">
                <h1 class="fa text-primary m-0 mr-3"><i class="fa-brands fa-whatsapp" style="color: black;"></i></h1>
                <h5 class="font-weight-semi-bold m-0">WhatsApp</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 pb-1"> <!-- Cambio a col-lg-4, col-md-4, col-sm-4 -->
            <div class="d-flex align-items-center justify-content-center border mb-4" style="padding: 20px;">
                <h1 class="fa text-primary m-0 mr-3"><i class="fa-solid fa-location-dot" style="color: black;"></i></h1>
                <h5 class="font-weight-semi-bold m-0">Ubicacion</h5>
            </div>
        </div>
    </div>
</div>


<!--otra-->


<!--tarjetas-->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <div>
            <h2 class="productos-titulo px-2"><span>Productos</span></h2>
        </div>
        <div class="product-container">
            {% for producto in products %}
            <div class="producto">
                <div class="ui-card">
                    <img src="{{ producto.image.url }}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">{{ producto.Product }}</h2>
                    <p class="card-description">{{ producto.description }}</p>
                    <p class="card-price">{{ producto.price }}$</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="{{ producto.image.url }}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">{{ producto.Product }}</h2>
                    <p class="card-description">{{ producto.description }}</p>
                    <p class="card-price">{{ producto.price }}$</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="{{ producto.image.url }}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">{{ producto.Product }}</h2>
                    <p class="card-description">{{ producto.description }}</p>
                    <p class="card-price">{{ producto.price }}$</p>
                </div>
            </div>
            {% endfor %}

            {% comment %} <div class="producto">
                <div class="ui-card">
                    <img src="{% static  '/img/Aretes I/2022 2.jpeg' %}">
                    <div class="description">
                        <a href="#">Agregar carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="{% static  '/img/Aretes I/2022 3.jpeg' %}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card ">
                    <img src="{% static  '/img/Aretes I/2022 4.jpeg' %}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="{% static  '/img/Aretes I/2022 5.jpeg' %}">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src= "{% static  '/img/collaresReferencia/Ref C22001.jpg' %}" >
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="{% url 'productViews'%}">Ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">aretes</h2>
                    <p class="card-description">Aretes elaborados con: Murano, Mostacilla checa y Herrajes.</p>
                    <p class="card-price">$33.000</p>
                </div>
            </div> {% endcomment %}
        </div><!--hasta aqui va-->

    </div>
</div>





<div class="containerpagi ">
    <nav>
        <div>
            <button class="butpagina"><a href="#"><h1><i class="fa-solid fa-less-than" style="color: #f9fbfb;"></i></h1></a></button>
            <button class="butpagina"><a href="#" style="text-decoration: none;"><h1>1</h1></a></button>
            <button class="butpagina"><a href="#" style="text-decoration: none;"><h1>2</h1></a></button>
            <button class="butpagina"><a href="#"><h1><i class="fa-solid fa-greater-than" style="color: #f7fafa;"></i></h1></a></button>
        </div>
    </nav>
</div>
<script src="{% static 'js/carrocel.js' %}"></script>
{% endblock %}


