{% extends 'layout/home_layout.html' %}
{% load static %}



{% block content %}

<!--imagen grande carrocel  -->
<div class="container-slider">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src={% static  '/img/Aretes/2022 1.jpeg' %} alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="static/img/Aretes/2022 1.jpe" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/Aretes/2022 1.jpe" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/Aretes/2022 1.jpe" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--right">&#62;</div>
    <div class="slider__btn slider__btn--left">&#60;</div>
</div>
<!---tres tarjetas-->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>

<!--tarjetas-->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <div>
            <h2 class="productos-titulo px-5"><span class="px-2">productos</span></h2>
        </div>
        <div class="product-container">
            <div class="producto">
                <div class="ui-card">
                    <img src=" img/Aretes/2022 2.jpeg">
                    <div class="description">
                        <a href="#">anadir al carro</a>
                        <a href="#">ver producto</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">Earrings Product 1</h2>
                    <p class="card-description">Description of earrings product 1.</p>
                    <p class="card-price">$19.99</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="img/Aretes/2022 3.jpeg">
                    <div class="description">
                        <a href="#">Add to Cart</a>
                        <a href="#">View Product</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">Earrings Product 1</h2>
                    <p class="card-description">Description of earrings product 1.</p>
                    <p class="card-price">$19.99</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="img/Aretes/2022 4.jpeg">
                    <div class="description">
                        <a href="#">Add to Cart</a>
                        <a href="#">View Product</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">Earrings Product 1</h2>
                    <p class="card-description">Description of earrings product 1.</p>
                    <p class="card-price">$19.99</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card ">
                    <img src="img/Aretes/2022 5.jpeg">
                    <div class="description">
                        <a href="#">Add to Cart</a>
                        <a href="#">View Product</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">Earrings Product 1</h2>
                    <p class="card-description">Description of earrings product 1.</p>
                    <p class="card-price">$19.99</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="img/Aretes/2022 1.jpeg">
                    <div class="description">
                        <a href="#">Add to Cart</a>
                        <a href="#">View Product</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">Earrings Product 1</h2>
                    <p class="card-description">Description of earrings product 1.</p>
                    <p class="card-price">$19.99</p>
                </div>
            </div>
            <div class="producto">
                <div class="ui-card">
                    <img src="img/Aretes/2022 7.jpe">
                    <div class="description">
                        <a href="#">Add to Cart</a>
                        <a href="#">View Product</a>
                    </div>
                </div>
                <div class="card-content">
                    <h2 class="card-title">Earrings Product 1</h2>
                    <p class="card-description">Description of earrings product 1.</p>
                    <p class="card-price">$19.99</p>
                </div>
            </div>
        </div><!--hasta aqui va-->




    </div>
</div>
{% endblock %}


