{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" {% static 'css/footer.css' %}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <footer id="footer">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <h4>¡Descubre las mejores ofertas!</h4>
                <p>Explora nuestra tienda en línea y encuentra productos increíbles a precios competitivos.</p>
            </div>
            <div class="col-md-4">
                <h4>Enlaces rápidos</h4>
                <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="#">contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="wrapper">
                <h4>Síguenos en las redes</h4>
                <ul class="social-icons">
                    <li class="whatsapp"><a href="https://api.whatsapp.com/send?phone=573108683109&text"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                    <li class="facebook"><a href="https://web.facebook.com/xilenadesigns?_rdc=1&_rdr"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/xilenadesigns/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </footer>
        <script src="https://kit.fontawesome.com/ebe9c53298.js" crossorigin="anonymous"></script>

</body>
</html>