
{% load static %}


<div class="container-fluid">
    <!-- inicio barra enlaces  -->
    <div class="menuicono row  py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Ingresar</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">Crea tu cuenta</a>
                <span class="text-muted px-2">|</span>
                <a href="https://www.instagram.com/xilenadesigns/">
                <box-icon type='logo'  name='instagram'></box-icon></a>
                <span class="text-muted px-2">|</span>
                <a href="https://web.facebook.com/xilenadesigns?_rdc=1&_rdr"> <box-icon type='logo' name='facebook-circle' ></box-icon></a>
            </div>
        </div>
    </div>
    <!--fin barra de enlaces  -->

    <!-- header -->
    <div class="cajaBusqueda row align-items-center py-3 px-xl-5">
        <div class="cajaBusqueda col-lg-3 d-none d-lg-block">
            <a href="./home.html" class="fondoLogo text-decoration-none">
                <img class="fondoLogo m-0 display-5 font-weight-semi-bold" src="static/img/logoXilena.jfif" >
            </a>
        </div>
        <div class="fondoLogo col-lg-6 col-6 text-left">
            <form action="">
                <div class="Boton input-group">
                    <input type="text" class="form-control" placeholder="Buscar productos">
                    <div class="Ibuscar input-group-append">                      
                        <box-icon class="Boton btn-buscar" name='search-alt' width"150px"></box-icon>                       
                    </div>
                </div>
            </form>
        </div>
        <div class="cajaBusqueda col-lg-3 col-6 ">
            <a href="" class="cajaBusqueda icono-menu col-6">
                <box-icon name='whatsapp-square' type='logo' color='#732579' ></box-icon>
            </a>
            <h3 href="" class="cajaBusqueda text-dark col-6">whatsapp</h3>
            
        </div>
    </div>
</div>
<!-- header -->


<!-- Navbar Start -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
        categorias 
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">collares</a></li>
        <li><a class="dropdown-item" href="#"> aretes</a></li>
        <li><a class="dropdown-item" href="#">paquetes </a></li>
    </ul>
</div>
<!-- fin navbar -->
